.css-media-query {
    background-color: blue;
    width: 50%;
    height: 200px;
}

@media (max-width: 768px) {
    .css-media-query {
        background-color: red;
    }
}

@media (max-width: 480px) {
    .css-media-query {
        background-color: rgba(122, 245, 21, 0.945);
    }
}