
header {
    display: flex;
    justify-content: center ;
    background-color: rgb(71, 43, 43);

    nav {
        display: flex;
        a {
            text-decoration: none;
            color: white;
            padding: 10px 20px;
            display: block;
            transition: 0.5s ease-in-out;
            &:hover  {
                background-color: rgb(100, 20, 20);
                color: rgb(139, 139, 233);
                border-radius: 15px;             
            }
            
        }
    }
}